<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>시간은 없고, 어딘가 있긴하고</title>
</head>

<body>
    <div id="wrapper">
        <div id="modal" class="modal">
            <div class="modal-content">
                <img id='progressBar' src="{{ url_for('static', filename='asset/progressBar.gif') }}" alt="loading...">
                <p>동영상을 분석 중이며 재생 시간이 길수록 많은 시간이 소요됩니다.</p>
            </div>
        </div>
        <div class="top">
            <div id="video-div">
                <h2>찾을 동영상</h2>
                <iframe id='player' src="{{ url_for('static', filename='asset/thumbnail.png') }}"
                    frameborder="0"></iframe>
                <div id="input-div">
                    <input id="input" type="file"></input>
                    <button id="input-btn" onclick="alert('아직 지원하지 않습니다.')">내 동영상 가져오기</button>
                </div>
                <div id="input-div">
                    <input id="video-link" type="text"></input>
                    <button id="input-btn" onclick="getVideo()">동영상 가져오기</button>
                </div>
            </div>
            <div id="img-div">
                <h2>찾고자 하는 대상</h2>
                <iframe name="fake" style="width:1px; height:1px; border:0; visibility:hidden;"></iframe>
                <img id="thumbnail" src="{{ url_for('static', filename='asset/thumbnail.png') }}" width="300px">
                <div id="input-div">
                    <input id="img-file" name='file' type="file" accept="image/*">
                    <input id="hidden-url" name='url' type="text" value=""></a>
                    <button id="input-btn" onclick="sendData()">분석 시작</button>
                </div>
            </div>
            <div id="result-div">
                <h2>예상되는 재생 시간</h2>
                <div id="scroll-div">
                    <ul id="result-ul"></ul>
                </div>
            </div>
        </div>
        <br>
        <div class="bottom">
            <div id="option">
                <div id="checkbox">
                    <label>
                        <input id="mode" type="checkbox" name="color" value="blue">스피드 모드 
                        (정확도는 낮아지지만 영상이 길수록 효과가 좋습니다.)
                    </label>
                </div>
                <div id="combo">
                    <h5>예측시 사용할 모델</h5>
                    <select id="model">
                        <option value="VGG16">VGG16</option>
                        <option value="ResNet50">ResNet50</option>
                        <option value="InceptionV3">InceptionV3</option>
                        <option value="EfficientNet-B0">EfficientNet-B0</option>
                    </select>
                </div>
                <div id="radio">
                    <h5>예측시 사용할 유사도 공식</h5>
                    <input type="radio" name="similar_calc" value="cos" checked>Cosin 유사도
                    <input type="radio" name="similar_calc" value="eunc">Euclidian 유사도
                </div>
                <div id="radio">
                    <h5>찾을 동영상의 FPS</h5>
                    <input type="radio" name="video_fps" value="24">24FPS
                    <input type="radio" name="video_fps" value="30" checked>30FPS
                    <input type="radio" name="video_fps" value="60">60FPS
                </div>
                <div id="radio">
                    <h5>찾을 동영상의 해상도</h5>
                    <input type="radio" name="video_res" value="240p">240p
                    <input type="radio" name="video_res" value="360p" checked>360p
                    <input type="radio" name="video_res" value="480p">480p
                    <input type="radio" name="video_res" value="720p">720p
                </div>
                <div id="radio">
                    <h5>결과값의 개수</h5>
                    <input type="radio" name="predict_li" value="3">3개
                    <input type="radio" name="predict_li" value="5">5개
                    <input type="radio" name="predict_li" value="10" checked>10개
                    <input type="radio" name="predict_li" value="20">20개
                    <input type="radio" name="predict_li" value="30">30개
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/function.js') }}"></script>

</html>