<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시간은 없고, 어딘가 있긴하고</title>
</head>

<body>
    <div id="wrapper">
        <div id="video-div">
            <input id="video-link" type="text"></input>
            <button onclick="getVideo()">동영상 가져오기</button>
            <iframe id='player' width="640px" height="360px"
                src="{{ url_for('static', filename='asset/thumbnail.png') }}" frameborder="0"></iframe>
        </div>
        <div id="img-div">
            <iframe name="fake" style="width:1px; height:1px; border:0; visibility:hidden;"></iframe>
            <img id="thumbnail" src="{{ url_for('static', filename='asset/thumbnail.png') }}" width="300px">
            <input id="img-file" name='file' type="file" accept="image/*">
            <input id="hidden-url" name='url' type="text" value=""></a>
            <button onclick="sendData()">분석 시작</button>
        </div>
        <div id="result-div">
            <ul id="result-ul-cos"></ul>
            <ul id="result-ul-eunc"></ul>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/function.js') }}"></script>

</html>