<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CNN 특칭 추출을 활용한 영상 관심 프레임 추측 서비스</title>
</head>

<body>
    <div id="wrapper">
        <div id="modal" class="modal">
            <div class="modal-content">
                <img id='progressBar' src="{{ url_for('static', filename='asset/progressBar.gif') }}" alt="loading...">
                <p>로딩 중이며 재생 시간이 길수록 많은 시간이 소요됩니다.</p>
            </div>
        </div>
        <div class="top">
            <div id="video-div">
                <h2>찾을 동영상</h2>
                <iframe id='player' src="{{ url_for('static', filename='asset/thumbnail.png') }}"
                    frameborder="0"></iframe>
                <video id="local-player" poster="{{ url_for('static', filename='asset/thumbnail.png') }}" controls>
                    <source id="video-source" src="" type="video/mp4">
                </video>
                <div id="input-div">
                    <input id="video-file" name="input-video" type="file" accept="video/*"></input>
                    <button id="input-btn" onclick="getVideo_local()">내 동영상 가져오기</button>
                </div>
                <div id="input-div">
                    <input id="video-link" type="text"></input>
                    <button id="input-btn" onclick="getVideo_youtube()">동영상 가져오기</button>
                </div>
            </div>
            <div id="img-div">
                <h2>찾고자 하는 대상</h2>
                <iframe name="fake" style="width:1px; height:1px; border:0; visibility:hidden;"></iframe>
                <img id="thumbnail" src="{{ url_for('static', filename='asset/thumbnail.png') }}" width="300px">
                <div id="input-div">
                    <input id="img-file" name='thumbnail' type="file" accept="image/*">
                    <input id="hidden-url" name='url' type="text" value=""></a>
                    <button id="input-btn" onclick="sendData()">분석 시작</button>
                </div>
            </div>
            <div id="result-div">
                <h2>예상되는 재생 시간</h2>
                <div id="scroll-div">
                    <ul id="result-ul"></ul>
                </div>
            </div>
        </div>
        <br>
        
    </div>
</body>
<script src="{{ url_for('static', filename='js/function.js') }}"></script>

</html>